<section class="container-fluid mt-2">
    <div class="d-flex">
        <div class="order-search__input mt-3">
            <div class="input-group input-group-sm flex-nowrap">
                <input (change)="filterByOrderId()" matInput [(ngModel)]="searchInputValue" type="search" class="form-control" placeholder="Enter Order Id" aria-label="Username" aria-describedby="addon-wrapping" />
                <button (click)="filterByOrderId()" class="input-group-text" mat-raised-button color="primary"><mat-icon>search</mat-icon></button>
            </div>
        </div>
        <div class="create-order__button ms-3 mt-3">
            <a role="button" [routerLink]="'new'" class="text-uppercase" mat-raised-button color="primary"><mat-icon>add</mat-icon> Create Order</a>
        </div>
        <div class="delete-order__button ms-3 mt-3">
            <button (click)="deleteOrders()" type="button" class="text-uppercase" mat-raised-button color="accent"><mat-icon>restore_from_trash</mat-icon> Delete Selected</button>
        </div>
        <div class="order-type__select ms-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Filter by Order Type</mat-label>
                <mat-select [(value)]="selectedOrderType" (selectionChange)="filterByOrderType($event)">
                    <mat-option value=></mat-option>
                    <ng-template ngFor let-orderType [ngForOf]="orderTypes" let-i="index">
                        <mat-option [value]="orderType.key">{{ orderType.displayName }}</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="d-block lead mt-2" *ngIf="draftedOrder">
        <a [routerLink]="['new']" [queryParams]="{resumeDraft: true}" >You have a pending order. Click to resume</a>
    </div>
</section>

<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12">
            <table mat-table [dataSource]="orders" class="mat-elevation-z8">
                <ng-container matColumnDef="isSelected">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [(ngModel)]="element.isSelected" color="red"> </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Order ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.key }}</td>
                </ng-container>
                <ng-container matColumnDef="orderedOn">
                    <th mat-header-cell *matHeaderCellDef>Creation Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.orderedOn | date }}</td>
                </ng-container>
                <ng-container matColumnDef="orderedBy">
                    <th mat-header-cell *matHeaderCellDef>Created By</th>
                    <td mat-cell *matCellDef="let element">{{ element.orderedBy }}</td>
                </ng-container>
                <ng-container matColumnDef="orderType">
                    <th mat-header-cell *matHeaderCellDef>Order Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.orderType }}</td>
                </ng-container>
                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef>Customer</th>
                    <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
</section>
